html,

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    margin-bottom: 10px;.form-signin input {
  margin-bottom: 10px;
}
}


.card-text {
  color: #ffffff;
}
@media (max-width: 576px) {
  .card {
      padding: 15px;
  }
  .form-signin {
      max-width: 100%;
  }
}